.switchMode-container {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 18px;
  transition: all 0.8s ease-in-out;

  .container {
    p {
      font-size: 3rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    button {
      padding: 6px 14px;
      font-size: 1.1rem;
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
}

.switchMode-container.dark-mode {
  background-color: black;
  color: white;
}

.switchMode-container.light-mode {
  button {
    background-color: black;
    color: white;
  }
}
